# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here

In [3]:
orders = pd.read_csv("orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [4]:
orders.shape

(397924, 14)

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [6]:
# your code here

Sub Problem 1: How to aggregate the amount_spent for unique customers?

In [7]:
# finding the amount spent
orders.groupby("CustomerID").aggregate({"amount_spent":"sum"})

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

Sub Problem 2: How to select customers whose aggregated amount_spent is in a given quantile range

In [8]:
orders.groupby("CustomerID").aggregate({"amount_spent":"sum"}).describe()

        amount_spent
count    4339.000000
mean     2053.793018
std      8988.248381
min         0.000000
25%       307.245000
50%       674.450000
75%      1661.640000
max    280206.020000

Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

In [9]:
# using information from the quantiles data 
customer_amount = orders.groupby("CustomerID").aggregate({"amount_spent":"sum"}).reset_index()
customer_amount

      CustomerID  amount_spent
0          12346      77183.60
1          12347       4310.00
2          12348       1797.24
3          12349       1757.55
4          12350        334.40
...          ...           ...
4334       18280        180.60
4335       18281         80.82
4336       18282        178.05
4337       18283       2094.88
4338       18287       1837.28

[4339 rows x 2 columns]

In [10]:
orders.groupby("CustomerID").aggregate({"amount_spent":"sum"}).describe()

        amount_spent
count    4339.000000
mean     2053.793018
std      8988.248381
min         0.000000
25%       307.245000
50%       674.450000
75%      1661.640000
max    280206.020000

In [13]:
def separate_customer_type(x):
    if x > 1661.640000:
        return 'VIP'
    elif x > 674.450000:
        return 'Preferred'
    else:
        return 'other'
    
customer_amount['type'] = customer_amount['amount_spent'].apply(separate_customer_type)

In [14]:
#defininf VIP and Preferred Customers
# I assume amount for VIP Customers is more than 75% and for Preferred Customers is between 75% and 50%

#VIP_Customers = customer_amount.loc[customer_amount["amount_spent"] > 1661.640000]
#Preferred_Customers = customer_amount.loc[(customer_amount["amount_spent"] > 674.450000)
#                                     & (customer_amount["amount_spent"] < 1661.640000)]

In [15]:
orders['type'] = customer_amount['amount_spent'].apply(separate_customer_type)

In [16]:
orders['type'].value_counts()

other        2170
VIP          1085
Preferred    1084
Name: type, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

In [21]:
orders[orders["type"] == "VIP"]['Country'].value_counts() # United.Kingdom has most VIP Customers

United Kingdom    1035
Norway              17
EIRE                10
France               8
Germany              7
Australia            5
Spain                2
Switzerland          1
Name: Country, dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here

In [36]:
orders[orders["type"] == "Preferred"]['Country'].value_counts() # United Kingdom

United Kingdom    1040
Norway              18
Germany             10
France               6
EIRE                 4
Australia            2
Spain                2
Netherlands          1
Switzerland          1
Name: Country, dtype: int64